*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background: rgb(0, 0, 0);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}

header h1 {
    color: #b5c3d7;
    font-size: 22px;
}

nav a {
    text-decoration: none;
    color: #e3cccc;
    margin-left: 20px;
    font-size: 14px;
}


section:first-of-type {
    background: linear-gradient(rgba(0,120,255,0.5), rgba(0,120,255,0.5)),
    url('https://www.anubhavvacations.in/blog/wp-content/uploads/2024/12/top-10-hill-stations-india-off-the-tourist-trail.webp') no-repeat center/cover;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

section:first-of-type h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

section:first-of-type p {
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
    font-size: 14px;
}

section:first-of-type button {
    margin-top: 20px;
    background: #ffb400;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}


section {
    padding: 50px 30px;
}

section h2 {
    text-align: center;
    color: #000059;
    margin-bottom: 30px;
}


section div {
    display: inline-block;
    width: 220px;
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    vertical-align: top;
}


section div h3 {
    color: #000307;
    margin-bottom: 8px;
}


section div p {
    font-size: 13px;
    color: #961c1c;
    line-height: 1.4;
}


section div p:last-child {
    font-weight: bold;
    color: #000;
}


@media (max-width: 768px) {
    section div {
        width: 90%;
        display: block;
        margin: 15px auto;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        margin: 5px 10px;
    }
}